<!DOCTYPE html>
<html lang="de">
    <head>
        {% block head %}
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Projekt: {% block title%}{% endblock %}</title>
        <link rel="stylesheet" href="{{ url_for('static',filename='styles/bootstrap.min.css') }}">
        {% endblock %}
    </head>
    <body>
        <div id="content">{% block content %}{% endblock %}</div>
        <script src="{{ url_for('static', filename='js/bootstrap.bundle.min.js') }}"></script>
    </body>
</html>